

<div class="jumbo">
  <div class="jumbo-image">
    <div class="row">
      <div class="span9">
        <h1 class="heading-static">Build Better Software, Easy, Fast, Simple.</h1>
        <p class="subheading-static"> Add signup fields in homepage</p>
      </div>

      <div class="span3">
        <div class="sign-up-static">
          <%= render 'devise/registrations/form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="row-images" align="center">
    <div class="span4">
      <%= image_tag("cog.png", :alt => "Use It", :class => "img-static" ) %>
      <h3>Build It</h3>
      <p>This is a paragraph for this header</p>
    </div>

    <div class="span4" align="center">
      <%= image_tag("checker.png", :alt => "Use It", :class => "img-static" ) %>
      <h3>Use It</h3>
      <p>This is a paragraph for this header</p>
     
    </div>

    <div class="span4" align="center">
       <%= image_tag("shareit.png", :alt => "Use It", :class => "img-static" ) %>
      <h3>Share It</h3>
      <p>This is a paragraph for this header</p>
    </div>
  </div>
</div>


