

<div class="jumbo">
  <div class="jumbo-image">
    <div class="row">
      <div class="span9">
        <h1 class="heading-static">Page#index</h1>
        <p class="subheading-static"> Add signup fields in homepage</p>
      </div>

      <div class="span3">
        <div class="sign-up-static">
          <%= render 'devise/registrations/form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>Here is a Header</h3>
    <p>This is a paragraph for this header</p>
  </div>

  <div class="span4">
    <h3>Here is a Header</h3>
    <p>This is a paragraph for this header</p>
  </div>

  <div class="span4">
    <h3>Here is a Header</h3>
    <p>This is a paragraph for this header</p>
  </div>
</div>
