

<div class="jumbo">
  <div class="jumbo-image">
    <div class="row">
      <div class="span9">
        <h1 class="heading-static">Build a Better Checklist, Get Things Right, Quick & Simple.</h1>
        <p class="subheading-static">RxCheck is an Open Source Platform to Build, Use, and Share Medical Checklists among a Global Community of Medical Professionals.</p>
      </div>

      <div class="span3">
        <div class="sign-up-static">
          <%= render 'devise/registrations/form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="row-images" align="center">
    <div class="span4">
      <%= image_tag("cog.png", :alt => "Use It", :class => "img-static" ) %>
      <h3>Build It</h3>
      <p>Create Your Checklist</p>
    </div>

    <div class="span4" align="center">
      <%= image_tag("checker.png", :alt => "Use It", :class => "img-static" ) %>
      <h3>Use It</h3>
      <p>Use It On The Job</p>
     
    </div>

    <div class="span4" align="center">
       <%= image_tag("shareit.png", :alt => "Use It", :class => "img-static" ) %>
      <h3>Share It</h3>
      <p>Share It With The Community</p>
    </div>
  </div>
</div>


