
<div class="row">
      <div class="span12">
<h1>Inspiration for RxCheck</h1>

<p>The below excerpt is from <em>The Checklist Manifesto</em> - a book by Atul Gawande, general surgeon and assistant professor at Harvard Medical School.  Dr. Gawande dictates that checklist's for the medical profession were created out of necessity due to the ever increasing complexity of treating medical issues and the high specialization of todays medical professionals.</p> 


<div class="row">
  <div class="row-images" align="center">
   <%= image_tag("manifesto.jpg", :alt => "The Checklist Manifesto", :class => "img-about" ) %>
  </div>
</div>


<h5>In a complex high-pressure environment, experts awlays come up against two main difficulties:</h5>

1. It's easy to overlook routine matters under the strain of pressing immediate demands<br>

2. People can lull themselves into skipping steps even when they remember them<br>
<br>

<strong>Checklists</strong> provide a protection against these two difficulties. By making the minimum necessary steps explicit and verifiable, a discipline is instilled which can lead to higher levels of performance.<br> 
                <strong class="excerpt">- The Checklist Manifesto </strong>
<br>
<br>
<h4>The Current Issue</h4>
<h5>There are two main issues with the current use of checklists:</h5> 

1. Internalization - a checklist created and used within one hospital or medical practice<br> 

2. Analyitics - paper checklists cannot record and analyze how a checklist is used, why its being used, and how to further optimize it<br>
<br>
<h4>One Step Further</h4> 
<h5>RxCheck is taking the idea of medical checklists one step further to remedy these issues:</h5>

1. Collaboration - share a checklist among the global medical community for all to use - "Network Effect"<br> 
2. Analysis - recording the use of individual checklists in order to optimize their use with the ulimate goal of increasing the quality of best practices   



Whats better, a checklist made for 1 hospital or a checklist made for 1000's of hospitals?  
</div>
</div>

<div id='project-url' align="center">
  <a href="https://github.com/sreedich/rxchecklist">To View My Project on GitHub Click Here</a>
</div>
